@use "global" as *;

.aboutus {
  padding-top: rem(84);
  padding-bottom: rem(74);
  @include mq("md") {
    position: relative;
    padding-top: rem(144);
    padding-bottom: rem(163);
  }
}

.aboutus__inner.inner {
  position: relative;
}

.aboutus__images {
  position: relative;
  display: flex;
  aspect-ratio: 345 / 212;
  max-width: rem(550);
  width: 100%;
  margin-top: rem(28);
  margin-inline: auto;
  @include mq("md") {
    aspect-ratio: 346 / 212;
    max-width: rem(1080);
    margin-top: rem(40);
  }
}

.aboutus__first-image {
  position: absolute;
  top: 0;
  left: rem(-1);
  z-index: 2;
  width: 37.1%;
  height: 91.5%;
  @include mq("md") {
    left: 0;
  }
}

.aboutus__first-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aboutus__second-image {
  position: absolute;
  right: rem(1);
  bottom: 0;
  z-index: 1;
  width: 81.5%;
  height: 87.7%;
  @include mq("md") {
    right: 0;
    bottom: rem(0.5);
    height: 87.9%;
  }
}

.aboutus__second-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aboutus__body {
  margin-top: rem(40);
  @include mq("md") {
    display: flex;
    position: absolute;
    top: 39.9%;
    right: 5.9%;
    margin-top: 0;
    gap: rem(40);
    z-index: 3;
  }
}

.aboutus__head h3 {
  font-family: $gotu-font-family;
  font-weight: $regular;
  font-size: rem(40);
  line-height: 1;
  color: $green;
  @include mq("md") {
    font-size: rem(80);
    line-height: calc(100 / 80);
    color: $white;
  }
}

.aboutus__content {
  margin-top: rem(16);
  @include mq("md") {
    max-width: rem(400);
    margin-top: rem(-1);
  }
}

.aboutus__text p {
  font-weight: $regular;
  font-size: rem(16);
  line-height: calc(24 / 16);
  margin-left: rem(-1);
  @include mq("md") {
    display: block;
    color: $white;
    margin-left: rem(1);
  }
}

.aboutus__btn {
  text-align: center;
  margin-top: rem(50);
  margin-left: rem(-17);
  @include mq("md") {
    margin-top: rem(40);
    margin-left: rem(-3);
  }
}

.aboutus__decoration-image {
  @include mq("md") {
    position: absolute;
    right: 5.8%;
    bottom: 7%;
    z-index: 10;
  }
}

.aboutus__decoration-image img {
  @include mq("md") {
    max-width: rem(194);
    width: 100%;
    height: 100%;
  }
}
