@use "global" as *;

.campaign {
  padding-top: rem(40);
  @include mq("md") {
    padding-top: rem(120);
  }
}

.campaign__inner.inner {
  @include mq("md") {
    position: relative;
  }
}

.campaign__contents {
  margin-top: rem(28);
  margin-right: calc(50% - 49.5vw);
  overflow: hidden;
  @include mq("md") {
    margin-top: rem(38);
  }
}

.campaign__sliders {
  padding-bottom: rem(10);
}

.campaign__btn {
  text-align: center;
  margin-top: rem(35);
  margin-left: rem(-5);
  @include mq("md") {
    margin-top: rem(75);
    margin-left: rem(-3);
  }
}
