@use "global" as *;


.campaign {
  padding-top: rem(40);
  @include mq("md") {
    padding-top: rem(120);
  }
}

.campaign__inner {
  @include mq("md") {
    position: relative;
  }
}


.campaign__btn {
  text-align: center;
  margin-top: rem(35);
  margin-left: rem(-5);
  @include mq("md") {
    margin-top: rem(75);
    margin-left: rem(-3);
  }
}
