@use "global" as *;

.voice {
  padding: rem(84) 0;
  @include mq("md") {
    position: relative;
    padding: rem(144) 0;
  }
}

.voice__inner.inner {
  max-width: rem(580);
  width: 100%;
  margin-inline: auto;
  @include mq("md") {
    max-width: rem(1130);
  }
}

.voice__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(rem(340), 1fr));
  gap: rem(39.5);
  margin-top: rem(44);
  @include mq("md") {
    gap: rem(40);
    margin-top: rem(30);
  }
}

// .voice__cards {
//   display: flex;
//   flex-direction: column;
//   max-width: rem(540);
//   width: 100%;
//   gap: rem(39.5);
//   margin-top: rem(44);
//   margin-inline: auto;
//   @include mq("md") {
//     flex-direction: row;
//     max-width: rem(1080);
//     gap: rem(40);
//     margin-top: rem(30);
//   }
// }

.voice__btn {
  text-align: center;
  margin-top: rem(40);
  margin-left: rem(-3);
  @include mq("md") {
    margin-top: rem(80);
  }
}

.voice__decoration-image-top {
  @include mq("md") {
    position: absolute;
    top: 2.6%;
    left: 7%;
  }
}

.voice__decoration-image-top img {
  @include mq("md") {
    max-width: rem(301);
    width: 100%;
    height: 100%;
  }
}

.voice__decoration-image-bottom {
  @include mq("md") {
    position: absolute;
    right: 12.5%;
    bottom: 8%;
  }
}

.voice__decoration-image-bottom img {
  @include mq("md") {
    max-width: rem(71);
    width: 100%;
    height: 100%;
  }
}
