@use "global" as *;

.voice {
  @include mq("md") {
    position: relative;
  }
}

.voice--layout {
  margin-top: rem(84);
  @include mq("md") {
    margin-top: rem(144);
  }
}

.voice__inner.inner {
  max-width: rem(580);
  width: 100%;
  margin-inline: auto;
  @include mq("md") {
    max-width: rem(1130);
  }
}

.voice__cards {
  margin-top: rem(44);
  @include mq("md") {
    position: relative;
    margin-top: rem(30);
  }
}

.voice__cards::before {
  display: none;
  @include mq("md") {
    display: block;
    content: "";
    background-image: url(../images/common/voice-decoration-top.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    position: absolute;
    top: -50%;
    left: calc(50% - min(48vw, rem(630)));
    max-width: rem(301);
    width: 100%;
    height: 100%;
  }
}

.voice__cards::after {
  display: none;
  @include mq("md") {
    display: block;
    content: "";
    background-image: url(../images/common/voice-decoration-bottom.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    position: absolute;
    right: calc(50% - min(48vw, rem(545)));
    bottom: -50%;
    max-width: rem(71);
    width: 100%;
    height: 100%;
  }
}

// .voice__cards {
//   display: flex;
//   flex-direction: column;
//   max-width: rem(540);
//   width: 100%;
//   gap: rem(39.5);
//   margin-top: rem(44);
//   margin-inline: auto;
//   @include mq("md") {
//     flex-direction: row;
//     max-width: rem(1080);
//     gap: rem(40);
//     margin-top: rem(30);
//   }
// }

.voice__btn {
  text-align: center;
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(80);
  }
}

// .voice__decoration-image-top {
//   @include mq("md") {
//     position: absolute;
//     top: -16.4%;
//     left: calc(50% - min(48vw, rem(630)));
//     max-width: rem(301);
//     width: 100%;
//   }
// }

// .voice__decoration-image-top img {
//   @include mq("md") {
//     width: 100%;
//     height: 100%;
//   }
// }

// .voice__decoration-image-bottom {
//   @include mq("md") {
//     position: absolute;
//     right: calc(50% - min(48vw, rem(545)));
//     bottom: -12%;
//     max-width: rem(71);
//     width: 100%;
//   }
// }

// .voice__decoration-image-bottom img {
//   @include mq("md") {
//     width: 100%;
//     height: 100%;
//   }
// }
