@use "sass:math";


// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1080px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 25px;
$padding-sp: 15px;

////////////////////
// フォント設定
////////////////////

$base-font-family: 'Noto Sans JP', sans-serif;
$gotu-font-family: 'Gotu', sans-serif;
$lato-font-family: 'Lato', sans-serif;




// フォントウェイト
$regular: 400;
$medium: 500;
$bold: 700;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$black: #0D2936;
$black2: #000000;
$white: #FFFFFF;
$green: #408F95;
$light-green: #DDF0F1;
$gray: #F2F2F2;


// z-index
$swiper-z-index: 1000;
$to-top-z-index: 1000;
$mv__header-z-index: 3000;
$header-z-index: 3000;
$drawer-z-index: 5000;
$sp-nav-z-index: 8000;
$CodeUps-z-index: 10000;
$hamburger-z-index: 10000;


// ※検証ツールでしっかり反映されているか確認する
body {
  font-family: $base-font-family;
  color: $black;
}
