@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1110px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 25px;
$padding-sp: 15px;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$black: #0d2936;
$white: #ffffff;
$base: #806c65;
$second: #d4c4ae;
$light: #f5f0e9;

////////////////////
// フォント設定
////////////////////

$base-font-family: "Noto Sans JP", sans-serif;
$mont-font-family: "Montserrat", sans-serif;

// フォントウェイト
$regular: 400;
$medium: 500;
$bold: 700;

body {
  font-family: $base-font-family;
  color: $base;
}

////////////////////
// z-index
////////////////////
$swiper-z-index: 1000;
$to-top-z-index: 1000;
$mv__header-z-index: 3000;
$drawer-z-index: 3000;
$sp-nav-z-index: 3000;
$header-z-index: 5000;
$company-logo-z-index: 10000;
$hamburger-z-index: 10000;
