body {
	color: #806c65;
	font-family: "Noto Sans JP", sans-serif;
}

.u-desktop {
	display: none;
}

/* リキッドレイアウト対応 */

html {
	font-size: 16px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default padding */

ul,
ol {
	padding: 0;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Set core root defaults */

html {
	overflow-x: hidden;
}

/* Set core body defaults */

body {
	line-height: 1.5;
	min-height: 100vh;
	position: relative;
	text-rendering: optimizeLegibility;
}

body.no-scroll {
	overflow: hidden;
}

/* Remove list styles on ul, ol elements with a class attribute */

ul,
ol {
	list-style: none;
}

/* A elements that don't have a class get default styles */

a:not([class]) {
	-webkit-text-decoration-skip: ink;
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

img,
iframe {
	border-radius: 22px;
	display: block;
	max-width: 100%;
	width: 100%;
}

/* Natural flow and rhythm in articles by default */

article > * + * {
	margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
	font: inherit;
}

/* Blur images when they have no alt attribute */

img:not([alt]) {
	filter: blur(10px);
}

/* フォームリセット */

input,
button,
select,
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: transparent;
	border: none;
	border-radius: 0;
	font: inherit;
	outline: none;
}

textarea {
	resize: vertical;
}

input[type=checkbox],
input[type=radio] {
	display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
	cursor: pointer;
}

select::-ms-expand {
	display: none;
}

/* ホバー */

a {
	-webkit-text-decoration: none;
	color: inherit;
	text-decoration: none;
	transition: opacity 0.3s;
}

.layout-contact {
	margin-top: 5rem;
}

.layout-page-footer {
	margin-top: 3.25rem;
}

.layout-single-blog {
	margin-top: 2.8125rem;
}

.layout-subPage {
	margin-top: 3.25rem;
}

.layout-top {
	margin-top: 5rem;
}

/*デフォルト色の指定*/

/*サイズ等の指定*/

/*ボタン系の指定*/

/*ラジオボタンの指定*/

/*チェックボックスの指定*/

/*テキストエリアの指定*/

[type=text],
[type=search],
[type=tel],
[type=url],
[type=email],
[type=password],
[type=date],
textarea {
	background: #ffffff;
	background-image: none; /*↓リセットCSS */
	border: none;
	border: 1px solid #806c65;
	border-radius: 0;
	border-radius: 0.75rem;
	font-family: inherit;
	font-size: 1rem; /*↓カスタム */
	margin-top: 0.9375rem;
	padding: 0.40625rem 1rem;
	width: 100%; /*↓↓選択されているときの色*/
}

[type=text]:focus,
[type=search]:focus,
[type=tel]:focus,
[type=url]:focus,
[type=email]:focus,
[type=password]:focus,
[type=date]:focus,
textarea:focus {
	border: 1px solid #0d2936;
}

[type=tel] {
	width: 100%;
}

button,
[type=button],
[type=submit] {
	-webkit-text-decoration: none;
	background: transparent linear-gradient(90deg, #7633a4 0%, #250d65 100%) 0% 0% no-repeat padding-box;
	background-image: none;
	border: none;
	border-radius: 0;
	border-radius: 3.125rem;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 0.875rem;
	line-height: 1; /*↓リセットCSS */
	margin: 0; /*↓カスタム */
	padding: 1.25rem 4.5rem;
	text-decoration: none;
	transition: 0.3s ease;
	width: auto;
}

[type=checkbox] {
	display: none;
}

[type=checkbox] + span {
	cursor: pointer;
	display: block;
	font-size: 1rem;
	line-height: 1;
	margin: 0 0.75rem 0 0;
	padding: 0.625rem 0 0 1.375rem;
	position: relative;
	transition: 0.3s ease;
}

[type=checkbox] + span::before {
	background: #fff;
	border: 1px solid #806c65;
	border-radius: 0.25rem;
	content: "";
	display: block;
	height: 0.875rem;
	left: 0;
	position: absolute;
	top: 74%;
	transform: translateY(-50%);
	width: 0.875rem;
}

[type=checkbox] + span::after {
	opacity: 0;
	transition: 0.3s ease;
}

[type=checkbox]:checked + span::after {
	border-bottom: 2px solid #c94800;
	border-left: 2px solid #c94800;
	content: "";
	display: block;
	height: 0.30625rem;
	left: 0.0625rem;
	margin-left: 0.1em;
	margin-top: -0.1em;
	opacity: 1;
	position: absolute;
	top: 74%; /*チェックマークじゃない場合は以下を変更する*/
	transform: translateY(-50%) rotate(-35deg);
	width: 0.6125rem;
}

.form__lastCheck [type=checkbox] + span::before {
	top: 27%;
}

.form__lastCheck [type=checkbox]:checked + span::after {
	height: 0.525rem;
	left: 0.1875rem;
	top: 0.5625rem;
	transform: translateY(-50%) rotate(-48deg);
	width: 0.875rem;
}

select { /*↓デフォルトのアイコンを消す場合はコメントアウト（noneにする）*/
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: #ffffff; /*↓デフォルトではないアイコンを使う場合は入力する*/
	background-image: url(../images/common/form.svg);
	background-position: right 7px center;
	background-repeat: no-repeat;
	border: none;
	border: 1px solid #806c65; /*↓リセットCSS */
	border-radius: 0;
	border-radius: 0.75rem;
	color: inherit;
	cursor: pointer;
	font-family: inherit;
	font-size: 1rem;
	font-weight: 400;
	margin-top: 0.9375rem; /*↓カスタム */
	max-width: 30rem;
	padding: 0.40625rem 1rem;
	width: 100%;
}

select:focus {
	border: 1px solid #0d2936;
}

textarea {
	height: 12.5rem;
	resize: none;
	width: 100%;
}

::-moz-placeholder {
	color: #f5f0e9;
}

::placeholder {
	color: #f5f0e9;
}

.wp-pagenavi {
	display: flex;
	gap: 0.75rem;
	justify-content: center;
}

.previouspostslink {
	margin-right: 1.75rem;
}

.nextpostslink {
	margin-left: 1.75rem;
}

.wp-pagenavi a,
.wp-pagenavi span {
	align-items: center;
	background-color: transparent;
	border: 1px solid #d4c4ae;
	color: #806c65;
	display: inline-flex;
	font-size: 1rem;
	font-weight: 700;
	height: 2.375rem;
	justify-content: center;
	transition: 0.3s ease;
	width: 2.375rem;
}

.wp-pagenavi a:hover {
	background: #806c65;
	color: #ffffff;
	opacity: 1;
}

.wp-pagenavi span.current {
	background: #806c65;
	color: #ffffff;
}

.previouspostslink,
.nextpostslink {
	position: relative;
}

.wp-pagenavi a.previouspostslink::before,
.wp-pagenavi a.nextpostslink:before {
	background-color: transparent;
	border-bottom: none;
	border-left: none;
	border-right: 1px solid #d4c4ae;
	border-top: 1px solid #d4c4ae;
	content: "";
	height: 0.75rem;
	position: absolute;
	top: 52%;
	width: 0.75rem;
}

.wp-pagenavi a.previouspostslink::before {
	left: 55%;
	transform: translate(-50%, -50%) rotate(-138deg);
}

.wp-pagenavi a.nextpostslink:before {
	left: 43%;
	transform: translate(-50%, -50%) rotate(45deg);
}

.wp-pagenavi a:hover.previouspostslink::before,
.wp-pagenavi a:hover.nextpostslink::before {
	border-right: 1px solid #ffffff;
	border-top: 1px solid #ffffff;
}

.blog {
	background-color: #f5f0e9;
	padding: 5rem 0;
	position: relative;
}

.blog__wrap {
	display: flex;
	flex-direction: column;
	gap: 5rem;
}

.blog__swiper {
	margin-left: calc(50% - 49.5vw);
	margin-right: calc(50% - 49.5vw);
	margin-top: 1.75rem;
	padding-bottom: 0.625rem;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	position: relative;
}

.blog .swiper-slide {
	transform: scale(0.7);
	transition: 1s;
}

.blog .swiper-slide-active {
	transform: scale(1);
}

.blog .swiper-button-prev::before,
.blog .swiper-button-next::before {
	background: #806c65;
	content: "";
	height: 0.125rem;
	position: absolute;
	right: 22%;
	top: 50%;
	transform: translateY(calc(-50% - 0.125rem)) rotate(40deg);
	width: 0.625rem;
}

.blog .swiper-button-prev::before {
	left: 24%;
	top: 51%;
	transform: translateY(calc(-50% - 0.125rem)) rotate(142deg);
}

.blog .swiper-button-prev::after,
.blog .swiper-button-next::after {
	background-color: #806c65;
	content: "";
	height: 0.125rem;
	position: absolute;
	right: 25%;
	top: 51%;
	transform: translateY(-50%);
	width: 2.5rem;
}

.blog .swiper-button-prev::after {
	left: 25%;
	top: 52.4%;
}

.blog .swiper-button-next.swiper-button-disabled,
.blog .swiper-button-prev.swiper-button-disabled {
	opacity: 1;
}

.blog__btn {
	text-align: center;
}

.breadcrumb {
	font-size: 0.875rem;
	font-weight: 400;
	margin-top: 0.5rem;
}

.breadcrumb.breadcrumb--white {
	color: #ffffff;
}

.button {
	-webkit-text-decoration: none;
	border-radius: 0.75rem;
	color: #806c65;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	letter-spacing: 0.1em;
	line-height: 1.5;
	margin-bottom: 0.75rem;
	max-width: 14.375rem;
	padding: 0;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s;
	vertical-align: middle;
	width: 100%;
}

.button:before {
	background: #f5f0e9;
	border: 2px solid #806c65;
	border-radius: inherit;
	bottom: 0;
	box-shadow: 0 0.4rem 0 0 rgba(0, 0, 0, 0.2);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: -0.3125rem;
	transform: translate3d(0, 0.75rem, -1rem);
	transition: all 0.3s;
}

.button__front {
	background: #fff;
	border: 2px solid #806c65;
	border-radius: inherit;
	display: block;
	padding: 0.75rem 2rem;
	position: relative;
	transition: all 0.3s;
}

.button__front--form.button__front {
	padding: 0;
}

.button:hover {
	transform: translate(0, 0.25rem);
}

.button:hover:before {
	box-shadow: 0 0.25rem 0 0 rgba(0, 0, 0, 0.2);
	transform: translate3d(0, 0.5rem, -1rem);
}

.card {
	background-color: #ffffff;
	border-radius: 1.5rem;
	box-shadow: 2px 2px 10px rgba(13, 41, 54, 0.3);
	display: block;
	height: 100%;
	width: 17.5rem;
}

.card--archive {
	width: 100%;
}

.card__inner {
	padding-bottom: 1.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 1rem;
}

.card__image {
	aspect-ratio: 3/2;
	overflow: hidden;
}

.card__image img {
	-o-object-fit: cover;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.card__body {
	margin-top: 1rem;
	padding: 0 0.125rem;
}

.card__meta {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.card__date {
	font-family: "Montserrat", sans-serif;
	font-size: 0.75rem;
	font-weight: 400;
	line-height: 1.5;
}

.card__category {
	background-color: #806c65;
	border-radius: 0.75rem;
	color: #ffffff;
	font-size: 0.75rem;
	line-height: 1;
	padding: 0.25rem;
	text-align: center;
	width: 5rem;
}

.card__category p {
	display: inline-block;
}

.card__title {
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	border-bottom: 1px solid #d4c4ae;
	display: -webkit-box;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5;
	margin-top: 1rem;
	overflow: hidden;
	padding-bottom: 0.25rem;
}

.card__text {
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
	display: -webkit-box;
	margin-top: 0.625rem;
	overflow: hidden;
}

.card__text p {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
}

.card__text p :hover {
	opacity: 1;
}

.cards a:hover {
	opacity: 0.8;
}

.contact {
	background-color: #f5f0e9;
	padding: 5rem 0;
	text-align: center;
}

.contact__text {
	font-size: 0.875rem;
	font-weight: 400;
	margin-top: 2.5rem;
}

.contact__btn {
	margin-top: 2.5rem;
}

.faq-list {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	margin-left: auto;
	margin-right: auto;
	max-width: 38.75rem;
	width: 100%;
}

.faq-list__item {
	font-weight: 400;
	line-height: 1.5;
	list-style-type: none;
}

.faq-list__item-question {
	background-color: #806c65;
	border-radius: 0.75rem;
	color: #ffffff;
	cursor: pointer;
	display: block;
	font-size: 1rem;
	padding: 0.9375rem;
	position: relative;
	width: 100%;
}

.faq-list__item-question span {
	display: block;
	width: 90%;
}

.faq-list__item-question::before,
.faq-list__item-question::after {
	background-color: #ffffff;
	content: "";
	height: 1px;
	position: absolute;
	right: 1rem;
	top: 50%;
	transition: 0.3s transform, 0.3s opacity;
	width: 1.75rem;
}

.faq-list__item-question::before {
	transform: rotate(90deg);
}

.faq-list__item-question.is-open::before {
	transform: rotate(0deg);
}

.faq-list__item-question.is-open::after {
	opacity: 0;
}

.faq-list__item-answer {
	background-color: #ffffff;
	border: 1px solid #d4c4ae;
	border-radius: 0.75rem;
	font-size: 1rem;
	margin-top: 1rem;
	padding-bottom: 1.625rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 1.5rem;
}

.faq__wrap {
	background-color: #d4c4ae;
	border-radius: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 5rem;
	padding: 5rem 1.25rem;
}

.faq__btn {
	text-align: center;
}

.footer {
	background-color: #806c65;
	color: #ffffff;
	padding-bottom: 5rem;
	padding-top: 3.625rem;
}

.footer__head {
	display: flex;
	position: relative;
}

.footer__logo {
	display: inline-block;
	height: 5rem;
	overflow: hidden;
	width: 6.375rem;
}

.footer__logo img {
	-o-object-fit: cover;
	height: inherit;
	object-fit: cover;
	width: 100%;
}

.footer__icons {
	bottom: 12%;
	display: flex;
	gap: 0.875rem;
	left: 10rem;
	position: absolute;
}

.footer__icons :hover {
	opacity: 0.8;
}

.footer__icon img {
	height: 1.25rem;
	width: 1.25rem;
}

.footer__nav {
	margin-top: 1.25rem;
}

.footer__copyright {
	font-family: "Montserrat", sans-serif;
	font-size: 0.75rem;
	font-weight: 400;
	letter-spacing: 0.08em;
	line-height: 1.5;
	margin-top: 1.25rem;
	text-align: center;
}

.form__wrap {
	border-bottom: 1px dashed #806c65;
	padding-bottom: 1.5rem;
	padding-top: 1.5rem;
}

.form__wrap--cat {
	border-top: 1px dashed #806c65;
}

.form__label {
	align-items: center;
	display: flex;
	font-weight: 700;
}

.form__label span {
	align-items: center;
	background-color: #c94800;
	border-radius: 1.5rem;
	color: #ffffff;
	display: flex;
	font-size: 0.75rem;
	font-weight: 400;
	height: 1.3125rem;
	justify-content: center;
	letter-spacing: 0.075em;
	margin-left: 0.5rem;
	margin-top: 0.125rem;
	width: 3.8125rem;
}

.form__checkbox {
	margin-top: 0.5rem;
}

.wpcf7-list-item {
	display: block;
	margin-left: 0;
}

.wpcf7-list-item.first [type=checkbox] + span {
	padding-top: 0;
}

.form__lastCheck {
	margin-left: auto;
	margin-right: auto;
	margin-top: 2.5625rem;
	max-width: 21.5625rem;
	text-align: center;
	width: 100%;
}

.form__lastCheck span {
	display: inline-block;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.5;
	padding-top: 0;
	text-align: left;
}

.form__lastCheck span::before {
	height: 1.375rem;
	width: 1.375rem;
}

.form__lastCheck span.wpcf7-list-item-label {
	padding-left: 1.875rem;
}

.form__lastCheck span.wpcf7-form-control-wrap {
	text-align: center;
}

.form__btn {
	margin-top: 1.5rem;
	text-align: center;
}

.wpcf7-form-control.wpcf7-submit.has-spinner {
	border-radius: 0;
	color: #806c65;
	line-height: inherit;
	padding: 0.75rem 2rem;
	width: -webkit-fill-available;
}

button,
[type=button],
[type=submit] {
	padding: 0;
}

.form__btn-inner.button span {
	padding: 0;
}

.wpcf7-response-output {
	display: none;
}

.wpcf7-spinner {
	display: none;
}

.header {
	background-color: rgba(128, 108, 101, 0.4);
	height: 5rem;
	position: fixed;
	transition: 0.3s;
	width: 100%;
	z-index: 5000;
}

.header.is-color {
	background-color: #806c65;
}

.header.is-active {
	background-color: rgba(128, 108, 101, 0.8);
}

.header__inner {
	align-items: center;
	display: flex;
	height: inherit;
	padding: 0 1rem;
	width: 100%;
}

.header__logo {
	align-items: center;
	display: flex;
	height: inherit;
	justify-content: center;
	margin-right: auto;
	z-index: 10000;
}

.header__logoLink {
	height: 5rem;
	overflow: hidden;
	width: 6.375rem;
}

.header__logoLink img {
	-o-object-fit: cover;
	height: inherit;
	object-fit: cover;
	width: 100%;
}

.header__hamburger {
	height: 1.5rem;
	position: relative;
	width: 2rem;
	z-index: 10000;
}

.header__hamburger span {
	background-color: #ffffff;
	height: 0.0625rem;
	position: absolute;
	width: inherit;
}

.header__hamburger,
.header__hamburger span {
	box-sizing: border-box;
	display: inline-block;
	transition: all 0.5s;
}

.header__hamburger span:nth-child(1) {
	top: -0.03125rem;
}

.header__hamburger span:nth-child(2) {
	top: 0.71875rem;
}

.header__hamburger span:nth-child(3) {
	top: 1.46875rem;
}

.header__hamburger.is-active span:nth-child(1) {
	top: 0.6875rem;
	transform: translateY(10%) rotate(37deg);
}

.header__hamburger.is-active span:nth-child(2) {
	opacity: 0;
}

.header__hamburger.is-active span:nth-child(3) {
	top: 0.6875rem;
	transform: translateY(10%) rotate(-36deg);
}

.header__sp-nav {
	background-color: rgba(128, 108, 101, 0.8);
	display: none;
	height: 100vh;
	left: 0;
	overflow-y: scroll;
	position: absolute;
	right: 0;
	top: 5rem;
	width: 100%;
	z-index: 10000;
}

.header__pc-nav {
	height: inherit;
}

.info-company__list {
	margin-top: 4rem;
}

.info-company__list-item {
	border-bottom: 1px solid #d4c4ae;
	padding-bottom: 1.25rem;
}

.info-company__list-item:not(:first-child) {
	padding-top: 1.25rem;
}

.info-company__list-item dt {
	font-weight: 700;
}

.info-company__list-item dd {
	font-size: 1rem;
}

.info-company__map {
	aspect-ratio: 3/2;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5rem;
	max-width: 40.625rem;
	width: 100%;
}

.info-company__map iframe {
	height: 100%;
	vertical-align: bottom;
	width: 100%;
}

.info-company__map-link {
	font-size: 0.875rem;
	font-weight: 300;
	letter-spacing: 0.08em;
	line-height: 1;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.625rem;
	max-width: 40.625rem;
	width: 100%;
}

.information__inner.inner {
	max-width: 40.625rem;
}

.information__wrap {
	display: flex;
	flex-direction: column;
	gap: 5rem;
}

.information__access {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

.information__textBody {
	text-align: left;
}

.information__head {
	border-bottom: 1px solid #d4c4ae;
}

.information__head-info {
	background-color: #f5f0e9;
	display: inline-block;
	font-size: 1rem;
	font-weight: 400;
	padding: 0 0.375rem;
}

.information__head-name {
	font-size: 1.75rem;
	font-weight: 700;
	line-height: 1;
	margin-top: 1.125rem;
}

.information__head-name rt {
	font-size: 0.75rem;
}

.information__text {
	margin-top: 1.5rem;
}

.information__text p {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
}

.information__text p:not(:first-child) {
	margin-top: 0.75rem;
}

.information__map {
	aspect-ratio: 3/2;
	margin-left: auto;
	margin-right: auto;
	max-width: 30rem;
	width: 100%;
}

.information__map iframe {
	height: 100%;
	vertical-align: bottom;
	width: 100%;
}

.information__btn {
	text-align: center;
}

.inner {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
}

.mv-swiper {
	height: inherit;
	width: 100%;
	z-index: 1000;
}

.mv-swiper__wrapper {
	height: inherit;
}

.mv-swiper__slide {
	height: inherit;
	position: relative;
}

.mv-swiper__slide::before {
	background-color: rgba(128, 128, 128, 0.1);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.mv-swiper__slide img {
	-o-object-fit: cover;
	border-radius: 0;
	height: inherit;
	object-fit: cover;
	width: 100%;
}

.mv {
	height: 100vh;
	width: 100%;
}

.mv__inner {
	height: inherit;
	position: relative;
	width: 100%;
}

.mv__header {
	color: #ffffff;
	font-family: "Montserrat", sans-serif;
	left: 50%;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 3000;
}

.mv__header h2 span {
	display: inline-block;
	font-size: 2.5rem;
	font-weight: 700;
	letter-spacing: 0.53em;
	text-indent: 0.53em;
}

.mv__header p {
	font-size: 1.75rem;
	font-weight: 400;
}

.notFound {
	background-color: #806c65;
	height: 80vh;
	padding-top: 5rem;
	position: relative;
}

.notFound__content {
	color: #ffffff;
	left: 50%;
	margin-top: 5rem;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
}

.notFound__content h1,
.notFound__content p {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
}

.notFound__content h1 {
	font-size: 5rem;
	letter-spacing: 0.5em;
	line-height: 1;
	text-indent: 0.5em;
}

.notFound__content p {
	font-size: 1rem;
	line-height: 1.5;
	margin-top: 0.25rem;
}

.notFound__content a {
	margin-top: 2.5rem;
}

.page-contact__inner.inner {
	max-width: 30rem;
}

.page-faq__inner.inner {
	max-width: 37.5rem;
}

.page-information__inner.inner {
	margin-left: auto;
	margin-right: auto;
	max-width: 40.625rem;
	width: 100%;
}

.page-information__message {
	text-align: center;
}

.page-information__message-head {
	font-size: 1.75rem;
	font-weight: 700;
	letter-spacing: 0.05em;
	line-height: 1.5;
	margin-top: 2rem;
}

.page-information__message-head-line {
	background: linear-gradient(180deg, transparent 0%, transparent 77%, #d4c4ae 77%, #d4c4ae 95%, transparent 95%, transparent 100%);
}

.page-information__message-text {
	font-size: 0.875rem;
	letter-spacing: 0.07em;
	line-height: 1.75;
	margin-top: 1.25rem;
}

.page-information__ceo {
	background-color: #f5f0e9;
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	margin-top: 4rem;
	padding: 6.25rem 0;
	width: 100vw;
}

.page-information__ceo-wrap {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-left: auto;
	margin-right: auto;
	max-width: 36.25rem;
	padding: 0 0.9375rem;
}

.page-information__ceo-image {
	aspect-ratio: 3/2;
	overflow: hidden;
}

.page-information__ceo-image img {
	-o-object-fit: cover;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.page-information__ceo-text {
	display: flex;
	flex-direction: column;
	font-size: 0.875rem;
	gap: 1rem;
	text-align: left;
}

.page-information__ceo-text p:last-child {
	margin-top: 1rem;
	padding: 0 1.25rem;
	text-align: right;
}

.page-information__company {
	margin-top: 7.5rem;
}

.page-price__inner.inner {
	max-width: 34.375rem;
}

.page-price__list-item:not(:first-child) {
	margin-top: 3rem;
}

.page-price__detail {
	font-size: 0.875rem;
	margin-top: 2.5rem;
	text-align: center;
}

.page-privacypolicy__inner.inner {
	max-width: 53.125rem;
}

.page-privacypolicy__content h2 {
	font-size: 1.5rem;
	font-weight: 500;
}

.page-privacypolicy__text {
	display: grid;
	font-size: 1rem;
	font-weight: 400;
	line-height: 2;
	margin-top: 2.375rem;
}

.page-privacypolicy__text p:not(:first-child),
.page-privacypolicy__text ul,
.page-privacypolicy__text ol:nth-child(2) {
	margin-top: 2rem;
}

.page-privacypolicy__text ol {
	letter-spacing: 0.009em;
	list-style: decimal;
	list-style-position: inside;
	margin-left: 0.375rem;
	padding-left: 1em;
	text-indent: -1em;
}

.page-service__inner.inner {
	max-width: 40.625rem;
}

.page-service__contents {
	display: flex;
	flex-direction: column;
	gap: 1.75rem;
}

.page-service__content {
	border: 1px solid #d4c4ae;
	border-radius: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 1.125rem;
	padding: 1.5rem;
}

.page-service__textBlock h2 {
	border-bottom: 1px solid #d4c4ae;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1;
	padding-bottom: 0.375rem;
}

.page-service__text {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	margin-top: 1.125rem;
}

.page-service__price {
	display: flex;
	font-size: 0.875rem;
	gap: 0.75rem;
	margin-top: 1.125rem;
}

.page-service__price p:first-child {
	flex-shrink: 0;
}

.page-service__price--info p:first-child {
	flex-shrink: 1;
}

.page-service__price span {
	display: inline-block;
	margin-right: 0.5rem;
}

.page-service__image {
	aspect-ratio: 3/2;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.125rem;
	max-width: 31.25rem;
	width: 100%;
}

.page-service__image img {
	-o-object-fit: cover;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.page-sitemap__nav {
	margin-top: 1.25rem;
}

.page-thanks__text {
	text-align: center;
}

.page-thanks__text p {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.125;
}

.page-thanks__text p:not(:first-child) {
	margin-top: 2.4375rem;
}

.page-thanks__btn {
	margin-top: 2.5rem;
	text-align: center;
}

.pc-nav {
	height: inherit;
}

.pc-nav__items {
	display: flex;
	gap: 2.5rem;
	height: inherit;
}

.pc-nav__item {
	color: #ffffff;
	display: flex;
	height: inherit;
	text-align: center;
	white-space: nowrap;
}

.pc-nav__item a {
	align-items: center;
	display: flex;
	height: inherit;
	justify-content: center;
	position: relative;
}

.pc-nav__item a::after {
	background-color: #ffffff;
	bottom: 1.25rem;
	content: "";
	height: 0.0625rem;
	position: absolute;
	right: 0;
	transform: scale(0, 1);
	transform-origin: center top;
	transition: all 0.3s;
	width: 100%;
}

.pc-nav__item a:hover::after {
	transform: scale(1, 1);
}

.pc-nav__text {
	display: block;
}

.pc-nav__engtitle {
	font-family: "Montserrat", sans-serif;
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.2222222222;
}

.pc-nav__jatitle {
	font-family: "Montserrat", sans-serif;
	font-size: 0.625rem;
	font-weight: 400;
	line-height: 2;
}

.price-menu__head {
	border-bottom: 1px solid #d4c4ae;
	padding-bottom: 0.25rem;
}

.price-menu__head h3 {
	font-size: 1.125rem;
	font-weight: 700;
}

.price-menu__head--page h3 {
	font-size: 1.25rem;
}

.price-menu__head h3 span {
	font-size: 0.875rem;
	font-weight: 400;
}

.price-menu__items {
	margin-top: 0.5rem;
}

.price-menu__item {
	display: flex;
	font-weight: 400;
}

.price-menu__item:not(:first-child) {
	margin-top: 0.5rem;
}

.price-menu__item dt {
	margin-right: auto;
}

.price-menu__item dd {
	flex-shrink: 0;
	margin-left: 0.9375rem;
}

.price__inner.inner {
	max-width: 40.625rem;
}

.price__wrap {
	display: flex;
	flex-direction: column;
	gap: 5rem;
}

.price__image {
	aspect-ratio: 3/2;
	margin-left: auto;
	margin-right: auto;
	max-width: 32.5rem;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.price__image img {
	-o-object-fit: cover;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.price__list {
	margin-left: auto;
	margin-right: auto;
	margin-top: 2.5rem;
	max-width: 30rem;
	width: 100%;
}

.price__list-item:not(:first-child) {
	margin-top: 2.5rem;
}

.price__btn {
	text-align: center;
}

.section-header {
	line-height: 4;
	text-align: center;
}

.section-header::first-letter {
	color: #806c65;
}

.section-header__title {
	color: #d4c4ae;
	display: inline;
	font-family: "Montserrat", sans-serif;
	font-size: 2rem;
	font-weight: 700;
	line-height: 1;
	position: relative;
}

.section-header__title--white {
	color: #ffffff;
}

.section-header__jatitle {
	bottom: 0;
	color: #806c65;
	font-family: "Montserrat", sans-serif;
	font-size: 0.75rem;
	font-weight: 500;
	left: 50%;
	line-height: 1.5;
	position: absolute;
	top: 100%;
	transform: translate(-50%, -50%);
	white-space: nowrap;
}

.service__inner.inner {
	max-width: 40.625rem;
}

.service__wrap {
	display: flex;
	flex-direction: column;
	gap: 5rem;
}

.service__contents {
	display: flex;
	flex-direction: column;
	gap: 3.75rem;
}

.service__content:nth-child(2),
.service__content:nth-child(4) {
	flex-direction: row-reverse;
}

.service__image {
	-o-object-fit: cover;
	aspect-ratio: 3/2;
	border: 2px solid #d4c4ae;
	border-radius: 1.5rem;
	object-fit: cover;
	padding: 1rem;
	position: relative;
}

.service__image img {
	-o-object-fit: cover;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.service__textBody {
	margin-top: 1.375rem;
}

.service__textBody h3 {
	border-bottom: 1px solid #d4c4ae;
}

.service__head h3 {
	font-size: 1.25rem;
	font-weight: 700;
}

.service__textBody p {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.8;
	margin-top: 0.5rem;
}

.service__btn {
	text-align: center;
}

.sidebar-article__item:not(:first-child) {
	margin-top: 1.5rem;
}

.sidebar-article__contents-link {
	align-items: center;
	border-radius: 0.75rem;
	box-shadow: 3px 3px 8px rgba(13, 41, 54, 0.3);
	display: flex;
	gap: 1rem;
	height: 6.25rem;
	padding: 1rem;
	width: 100%;
	width: 15.625rem;
}

.sidebar-article__contents-image {
	aspect-ratio: 4/3;
	overflow: hidden;
	width: 48%;
}

.sidebar-article__contents-image img {
	-o-object-fit: cover;
	border-radius: 0.625rem;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.sidebar-article__contents-meta {
	display: inline-block;
	line-height: 1;
	width: 50%;
}

.sidebar-article__contents-date {
	font-size: 0.75rem;
	font-weight: 400;
	line-height: 1;
}

.sidebar-article__contents-title {
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5;
	margin-top: 0.25rem;
	min-height: 0;
	overflow: hidden;
}

.sidebar-category__items {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

.sidebar-category__item a {
	display: inline-block;
	font-size: 1.25rem;
	font-weight: 700;
	margin-left: 1rem;
	padding: 0 2rem;
	position: relative;
}

.sidebar-category__item a::before {
	-webkit-mask-image: url(../images/common/sidebar-category-triangle.svg);
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
	-webkit-mask-size: contain;
	background-color: #806c65;
	content: "";
	height: 1.25rem;
	left: 0.125rem;
	mask-image: url(../images/common/sidebar-category-triangle.svg);
	mask-position: center;
	mask-repeat: no-repeat;
	mask-size: contain;
	position: absolute;
	top: 0.5rem;
	width: 1.25rem;
}

.sidebar {
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5rem;
	max-width: 21.875rem;
	padding: 0 1.5625rem;
	width: 100%;
}

.sidebar__item:not(:first-child) {
	margin-top: 5rem;
}

.sidebar__title {
	align-items: center;
	border-left: 8px solid #d4c4ae;
	display: flex;
	height: 3.125rem;
	padding-left: 4.5rem;
}

.sidebar__title h3 {
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 1.5;
	position: relative;
}

.sidebar__title h3::before {
	-webkit-mask-image: url(../images/common/dog-logo.png);
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
	-webkit-mask-size: contain;
	background-color: #806c65;
	content: "";
	height: 2.5rem;
	left: -3.375rem;
	mask-image: url(../images/common/dog-logo.png);
	mask-position: center;
	mask-repeat: no-repeat;
	mask-size: contain;
	position: absolute;
	top: 0;
	width: 2.5rem;
}

.sidebar__article {
	margin-top: 1.5rem;
}

.sidebar__category {
	margin-top: 1.5rem;
}

.single-blog__date {
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.2857142857;
}

.single-blog__title {
	border-bottom: 1px solid #d4c4ae;
	font-size: 1.5rem;
	font-weight: 500;
	margin-top: 0.5rem;
	padding-bottom: 0.125rem;
}

.single-blog__image {
	aspect-ratio: 3/2;
	margin-top: 1.5rem;
	overflow: hidden;
}

.single-blog__image img {
	-o-object-fit: cover;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.single-blog__body {
	grid-gap: 1.5rem;
	display: grid;
	flex-direction: column;
	gap: 1.5rem;
	margin-top: 1.5rem;
}

.single-blog__body p {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
}

.single-blog__body img {
	-o-object-fit: cover;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.single-blog__body ul {
	padding-left: 1.6875rem;
}

.single-blog__body ul li {
	position: relative;
}

.single-blog__body ul li::before {
	-webkit-mask-image: url(../images/common/dog-logo.png);
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
	-webkit-mask-size: contain;
	background-color: #806c65;
	content: "";
	height: 1.125rem;
	left: -1.6875rem;
	mask-image: url(../images/common/dog-logo.png);
	mask-position: center;
	mask-repeat: no-repeat;
	mask-size: contain;
	position: absolute;
	top: 0.25rem;
	width: 1.125rem;
}

.single-blog__body ul li:not(:first-child) {
	margin-top: 0.25rem;
}

.single-blog__pagenavi {
	display: flex;
	font-size: 0.875rem;
	gap: 2.5rem;
	justify-content: center;
	margin-top: 3.75rem;
}

.single-blog__pagenavi-archive {
	border-bottom: 1px solid #d4c4ae;
	padding-bottom: 0.125rem;
}

.site-nav {
	display: flex;
	justify-content: space-evenly;
}

.site-nav--sp {
	flex-direction: column;
}

.site-nav__left-items:not(:first-child),
.site-nav__right-items {
	margin-top: 1.125rem;
}

.site-nav__left-items,
.site-nav__right-items {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.site-nav__item {
	width: 11.25rem;
}

.site-nav__item a {
	display: inline-block;
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.125;
	padding-bottom: 1.125rem;
	padding-left: 2.125rem;
	padding-top: 1.125rem;
	white-space: nowrap;
	width: 100%;
}

.site-nav__item a:hover {
	opacity: 0.8;
}

.site-nav__item:first-child a {
	font-weight: 700;
	position: relative;
}

.site-nav__item:first-child a::before {
	-webkit-mask-image: url(../images/common/dog-logo.png);
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
	-webkit-mask-size: contain;
	background-color: #ffffff;
	content: "";
	height: 1.625rem;
	left: 0;
	mask-image: url(../images/common/dog-logo.png);
	mask-position: center;
	mask-repeat: no-repeat;
	mask-size: contain;
	position: absolute;
	top: 30%;
	width: 1.625rem;
}

.site-nav__item--brown:first-child a::before {
	background-color: #806c65;
}

.sp-nav {
	color: #ffffff;
}

.sp-nav__inner {
	padding: 0 1rem;
}

.sp-nav__wrapper {
	padding-bottom: 7.5rem;
	padding-top: 3.25rem;
}

.sub-mv__inner {
	position: relative;
}

.sub-mv__image {
	background-color: #806c65;
	height: 100%;
	width: 100%;
}

.sub-mv__image img {
	-o-object-fit: cover;
	border-radius: 0;
	height: 28.75rem;
	object-fit: cover;
	opacity: 0.7;
	width: 100%;
}

.sub-mv__header {
	left: 50%;
	position: absolute;
	top: 55%;
	transform: translate(-50%, -50%);
}

.sub-mv__header h1 {
	color: #ffffff;
	font-family: "Montserrat", sans-serif;
	font-size: 2.375rem;
	font-weight: 700;
	letter-spacing: 0.25em;
	text-indent: 0.25em;
	white-space: nowrap;
	width: 100%;
}

.to-top {
	bottom: 1rem;
	overflow: hidden;
	position: fixed;
	right: 1rem;
	z-index: 1000;
}

.to-top a {
	background-color: rgba(255, 255, 255, 0.5);
	border: 1px solid #d4c4ae;
	border-radius: 100%;
	display: block;
	height: 3rem;
	position: relative;
	width: 3rem;
}

.to-top a span::before {
	background: #806c65;
	content: "";
	height: 0.0625rem;
	position: absolute;
	right: 47%;
	top: 34%;
	transform: translateY(calc(-50% - 0.125rem)) rotate(135deg);
	width: 0.625rem;
}

.to-top a span::after {
	background-color: #806c65;
	content: "";
	height: 0.0625rem;
	position: absolute;
	right: 20%;
	top: 55%;
	transform: translateY(calc(-50% - 0.125rem)) rotate(90deg);
	width: 1.75rem;
}

.two-col__wrap {
	margin-left: auto;
	margin-right: auto;
	max-width: 36.25rem;
	width: 100%;
}

.two-col__cards {
	grid-gap: 4rem;
	display: grid;
	gap: 4rem;
	margin-left: auto;
	margin-right: auto;
	max-width: 40.625rem;
	width: 100%;
}

.two-col__pagenavi {
	margin-top: 4.875rem;
}

@media screen and (min-width: 768px) {

.u-desktop {
	display: block;
}

.u-mobile {
	display: none;
}

html {
	font-size: 1.4414414414vw;
}

.layout-contact {
	margin-top: 8.75rem;
}

.layout-page-footer {
	margin-top: 8.75rem;
}

.layout-single-blog {
	margin-top: 8.9375rem;
}

.layout-subPage {
	margin-top: 8.75rem;
}

.layout-top {
	margin-top: 8.75rem;
}

[type=text],
[type=search],
[type=tel],
[type=url],
[type=email],
[type=password],
[type=date],
textarea {
	margin-top: 0;
}

.form__lastCheck [type=checkbox] + span::before {
	top: 50%;
}

select {
	font-size: 0.75rem;
	margin-top: 0;
	padding: 0.3125rem 1rem;
	padding-left: 0.375rem;
}

.blog {
	padding: 6.25rem 0;
}

.blog__swiper {
	margin-top: 2.375rem;
}

.blog .swiper-button-prev,
.blog .swiper-button-next {
	border: 2px solid #d4c4ae;
	border-radius: 100%;
	display: block;
	height: 5rem;
	position: absolute;
	width: 5rem;
}

.blog .swiper-button-prev {
	left: 4%;
	top: 74%;
}

.blog .swiper-button-next {
	right: 4%;
	top: 74%;
}

.card {
	width: 20rem;
}

.card__title {
	margin-top: 0.625rem;
}

.contact {
	padding: 6.25rem 0;
}

.contact__text {
	margin-top: 2.125rem;
}

.contact__btn {
	margin-top: 2.125rem;
}

.faq-list {
	max-width: 45rem;
}

.faq-list__item-question {
	font-size: 1.25rem;
	padding: 1.625rem 2.5rem;
}

.faq-list__item-question::before,
.faq-list__item-question::after {
	right: 2.5rem;
	width: 2rem;
}

.faq-list__item-answer {
	padding: 2.5rem;
}

.faq__wrap {
	padding: 6.25rem 1.25rem;
}

.footer {
	padding: 6.25rem 0;
}

.footer__logo {
	height: 5rem;
	width: 8.75rem;
}

.footer__icon img {
	height: 1.75rem;
	width: 1.75rem;
}

.footer__nav {
	margin-top: 2.5rem;
}

.footer__copyright {
	font-size: 0.875rem;
	line-height: 1.2857142857;
	margin-top: 4.25rem;
}

.form__wrap {
	align-items: center;
	display: flex;
	gap: 1.25rem;
	justify-content: space-between;
	padding-bottom: 2.5rem;
	padding-top: 2.5rem;
}

.form__wrap dt {
	justify-content: space-between;
	width: 15rem;
}

.form__wrap dd {
	display: inline-block;
	flex: 1;
}

.form__checkbox {
	margin-top: -0.25rem;
}

.form__lastCheck {
	margin-top: 5rem;
	max-width: 26.25rem;
	padding: 0;
}

.form__lastCheck span.wpcf7-list-item-label {
	padding-left: 2.375rem;
}

.form__btn {
	margin-top: 2.5rem;
}

.header {
	height: 5.625rem;
}

.header__inner {
	justify-content: space-between;
	padding: 0 2.5rem;
}

.header__logo {
	margin-right: 0;
}

.header__sp-nav {
	top: 5.625rem;
}

.info-company__list {
	margin-top: 5rem;
}

.info-company__list-item {
	display: flex;
	padding-bottom: 1.875rem;
}

.info-company__list-item:not(:first-child) {
	padding-top: 1.875rem;
}

.info-company__list-item dt {
	width: 11.25rem;
}

.info-company__map {
	max-width: 53.125rem;
}

.info-company__map-link {
	font-size: 1rem;
	max-width: 53.125rem;
}

.information__inner.inner {
	max-width: 72.5rem;
}

.information__access {
	align-items: center;
	flex-direction: row;
	gap: 4rem;
}

.information__textBody {
	width: 50%;
}

.information__head {
	align-items: flex-end;
	display: flex;
	gap: 2.25rem;
	padding-bottom: 0.5rem;
}

.information__head-info {
	font-size: 1.25rem;
	padding: 0 0.5rem;
}

.information__head-name {
	font-size: 2rem;
}

.information__text p {
	font-size: 1.25rem;
}

.information__text p:not(:first-child) {
	margin-top: 1rem;
}

.information__map {
	margin-left: 0;
	margin-right: 0;
	width: 50%;
}

.inner {
	max-width: 1160px;
	padding-left: 25px;
	padding-right: 25px;
}

.mv__header h2 span {
	font-size: 5rem;
}

.notFound {
	padding-top: 5.625rem;
}

.notFound__content {
	margin-top: 3.75rem;
}

.notFound__content h1 {
	font-size: 10rem;
}

.notFound__content p {
	margin-top: 2.5rem;
}

.notFound__content a {
	margin-top: 5rem;
}

.page-contact__inner.inner {
	max-width: 43.75rem;
}

.page-faq__inner.inner {
	max-width: 43.75rem;
}

.page-information__inner.inner {
	max-width: 72.5rem;
}

.page-information__message-head {
	font-size: 2rem;
	margin-top: 3.75rem;
}

.page-information__message-text {
	font-size: 1rem;
	margin-top: 2rem;
}

.page-information__ceo {
	margin-top: 7.5rem;
}

.page-information__ceo-wrap {
	align-items: center;
	flex-direction: row;
	gap: 2.5rem;
	max-width: 72.5rem;
	padding: 0 1.5625rem;
}

.page-information__ceo-image {
	width: 42%;
}

.page-information__ceo-text {
	font-size: 1rem;
	gap: 1.25rem;
	width: 58%;
}

.page-information__ceo-text p:last-child {
	margin-top: 1.25rem;
	text-align: left;
}

.page-information__company {
	margin-top: 15rem;
}

.page-price__inner.inner {
	max-width: 55rem;
}

.page-price__list-item:not(:first-child) {
	margin-top: 5rem;
}

.page-price__detail {
	margin-top: 3.75rem;
}

.page-privacypolicy__content h2 {
	font-size: 2rem;
	line-height: 1;
}

.page-privacypolicy__text {
	margin-top: 3rem;
}

.page-service__inner.inner {
	max-width: 72.5rem;
}

.page-service__contents {
	gap: 2.5rem;
}

.page-service__content {
	align-items: center;
	flex-direction: row;
	gap: 3rem;
}

.page-service__textBlock {
	width: 50%;
}

.page-service__image {
	margin-top: 0;
	width: 50%;
}

.page-sitemap__nav {
	margin-top: 2.5rem;
}

.page-thanks__btn {
	margin-top: 5rem;
}

.price-menu__head--page h3 {
	font-size: 1.5rem;
}

.price__inner.inner {
	max-width: 72.5rem;
}

.price__contents {
	display: flex;
	flex-direction: row-reverse;
	gap: 4rem;
}

.price__image {
	aspect-ratio: 2/3;
	margin-left: 0;
	margin-left: initial;
	margin-right: 0;
	margin-right: initial;
}

.price__list {
	margin-left: 0;
	margin-left: initial;
	margin-right: 0;
	margin-right: initial;
	margin-top: 0;
	max-width: 37.5rem;
}

.section-header__title {
	font-size: 2.5rem;
}

.service__inner.inner {
	max-width: 72.5rem;
}

.service__contents {
	gap: 2.5rem;
}

.service__content {
	align-items: center;
	display: flex;
	gap: 4rem;
	width: 100%;
}

.service__image {
	width: 55%;
}

.service__textBody {
	margin-top: 0;
	width: 45%;
}

.service__textBody h3 {
	padding-bottom: 0.5rem;
}

.service__head h3 {
	font-size: 1.5rem;
}

.sidebar {
	flex: 1;
	margin-top: 0;
	padding: 0;
}

.single-blog__title {
	font-size: 2rem;
	padding-bottom: 0;
}

.single-blog__image {
	margin-top: 2.25rem;
}

.single-blog__body {
	gap: 2.5rem;
	margin-top: 2.5rem;
}

.single-blog__pagenavi {
	gap: 5rem;
	margin-top: 7.5rem;
}

.site-nav--sp {
	flex-direction: row;
}

.site-nav__right-items:first-child {
	margin-top: 0;
}

.site-nav__item {
	width: 14.375rem;
}

.sp-nav__wrapper {
	padding-top: 5rem;
}

.sub-mv__image img {
	height: 34.25rem;
}

.sub-mv__header h1 {
	font-size: 4.5rem;
	letter-spacing: 0.4em;
	text-indent: 0.4em;
}

.to-top {
	bottom: 1.25rem;
	right: 1.25rem;
}

.to-top a {
	height: 5rem;
	width: 5rem;
}

.to-top a span::after {
	right: 23%;
	width: 2.5rem;
}

.two-col__wrap {
	display: flex;
	gap: 5.1875rem;
	max-width: 70.625rem;
}

.two-col__left {
	height: 100%;
	width: 70%;
}

.two-col__cards {
	grid-template-columns: 1fr 1fr;
	row-gap: 5.4375rem;
}

}

@media (min-width: 1110px) {

html {
	font-size: 16px;
}

}

@media screen and (min-width: 2560px) {

.faq__inner.inner {
	max-width: 90rem;
}

}

@media (max-width: 375px) {

html {
	font-size: 4.2666666667vw;
}

}


/*# sourceMappingURL=style.css.map */
