@use "global" as *;

.archive-blog__wrap {
  max-width: rem(580);
  width: 100%;
  margin-inline: auto;
  @include mq("md") {
    max-width: rem(1130);
    display: flex;
    gap: rem(83);
  }
}

.archive-blog__contents {
  @include mq("md") {
    width: 70%;
    height: 100%;
  }
}

.archive-blog__list {
  display: grid;
  gap: rem(40);
  @include mq("md") {
    grid-template-columns: 1fr 1fr;
    row-gap: rem(80);
  }
}

.archive-blog__item:first-child {
  position: relative;
}

.archive-blog__item:first-child::before {
  content: "";
  background-image: url(../images/common/blueFish-decoration-left.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  position: absolute;
  top: -12%;
  left: calc(52% - min(48vw, rem(630)));
  max-width: rem(120);
  width: 100%;
  height: 100%;
  @include mq("md") {
    top: -24%;
    left: calc(50% - min(14vw, rem(320)));
    max-width: rem(301);
    z-index: -1;
  }
}
