@use "global" as *;

.campaign__inner.inner {
  @include mq("md") {
    position: relative;
  }
}

.campaign__swiper {
  margin-top: rem(28);
  margin-right: calc(50% - 49.5vw);
  padding-bottom: rem(10);

  @include mq("md") {
    margin-top: rem(38);
  }
}

// .campaign__cards {
//   display: grid;
//   grid-auto-flow: column;
// }

.campaign__btn {
  text-align: center;
  margin-top: rem(30);
  @include mq("md") {
    margin-top: rem(70);
  }
}

.campaign {
  .swiper-button-prev,
  .swiper-button-next {
    @include mq("md") {
      position: absolute;
      display: block;
      width: rem(80);
      height: rem(80);
      background-color: rgba($color: $white, $alpha: 1);
      border: 1px solid $second;
      border-radius: 100%;
    }
  }

  .swiper-button-prev {
    @include mq("md") {
      top: 3.3%;
      left: 76.7%;
    }
  }

  .swiper-button-next {
    @include mq("md") {
      top: 3.2%;
      right: 2.4%;
    }
  }

  .swiper-button-prev::before,
  .swiper-button-next::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 22%;
    transform: translateY(calc(-50% - rem(2))) rotate(40deg);
    width: rem(10);
    height: rem(1);
    background: $base;
  }

  .swiper-button-prev::before {
    top: 51%;
    left: 24%;
    transform: translateY(calc(-50% - rem(2))) rotate(142deg);
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    content: "";
    position: absolute;
    top: 51%;
    right: 25%;
    transform: translateY(-50%);
    width: rem(40);
    height: rem(1);
    background-color: $base;
  }

  .swiper-button-prev::after {
    top: 52.4%;
    left: 25%;
  }

  .swiper-button-next.swiper-button-disabled,
  .swiper-button-prev.swiper-button-disabled {
    opacity: 1;
  }
}
