@use "global" as *;

.cards__item {
  box-shadow: 2px 2px 10px rgba($color: $black, $alpha: 0.3);
  :hover {
    opacity: 0.8;
  }
}

.cards__voiceItem {
  box-shadow: 2px 2px 10px rgba($color: $black, $alpha: 0.3);
  :hover {
    opacity: 0.8;
  }
}
