@use "global" as *;

.cards {
  display: grid;
  gap: rem(64);
  @include mq("md") {
    grid-template-columns: 1fr 1fr;
  }
}

.cards a:hover {
opacity: 0.8;
}

.cards--archive {
  @include mq("md") {
    grid-template-columns: 1fr 1fr;
    row-gap: rem(87);
  }
}

.cards__item {
  box-shadow: 2px 2px 10px rgba($color: $black, $alpha: 0.3);
  border-radius: rem(24);
}
