@use "global" as *;

.cards__item {
}

.cards a:hover {
  opacity: 0.8;
}

.cards--archive {
  max-width: rem(650);
  width: 100%;
  margin-inline: auto;
  @include mq("md") {
    grid-template-columns: 1fr 1fr;
    row-gap: rem(87);
  }
}

// .cards__item {
//   box-shadow: 2px 2px 10px rgba($color: $black, $alpha: 0.3);
//   border-radius: rem(24);
// }
