@use "global" as *;

.category-tab {
  max-width: rem(600);
  width: 100%;
  padding: 0 rem(15);
  margin-inline: auto;
  @include mq("md") {
    max-width: rem(1110);
  }
}

.category-tab__items {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  // display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  column-gap: rem(21);
  row-gap: rem(14);
  width: 100%;
  @include mq("md") {
    column-gap: rem(34);
  }
}

.category-tab__items::before {
  content: "";
  background-image: url(../images/common/blueFish-decoration-left.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  position: absolute;
  top: -30%;
  left: calc(52% - min(48vw, rem(630)));
  max-width: rem(120);
  width: 100%;
  height: 100%;
  z-index: -1;
  @include mq("md") {
    top: -214%;
    left: calc(51% - min(48vw, rem(630)));
    max-width: rem(301);
    height: rem(138);
  }
}

.category-tab__item {
  display: inline-block;
  font-weight: $regular;
  font-size: rem(14);
  line-height: calc(22 / 14);
  color: $green;
  background-color: $white;
  border: 1px solid $green;
  text-align: center;
  width: rem(160);
  padding: rem(5) rem(6);
  transition: 0.3s;
}

.category-tab__item.tab-active,
.category-tab__item:hover {
  color: $white;
  background-color: $green;
}
