@use "global" as *;

.contact-header {
  text-align: center;
}

.contact-header__engtitle {
  font-family: $gotu-font-family;
  font-weight: $regular;
  font-size: rem(80);
  line-height: 1;
  color: $black;
}

.contact-header__engtitle span {
  color: $green;
}

.contact-header__jatitle {
  font-family: $base-font-family;
  font-weight: $regular;
  font-size: rem(12);
  line-height: 1;
  color: $green;
}
