@use "global" as *;

.contact {
  background-color: $light;
  text-align: center;
  padding: rem(80) 0;
  @include mq("md") {
    padding: rem(100) 0;
  }
}

.contact__text {
  margin-top: rem(11);
  @include mq("md") {
    margin-top: rem(34);
  }
}

.contact__text p {
  font-weight: $regular;
  font-size: rem(14);
  line-height: 1;
}

.contact__btn {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(34);
  }
}
