@use "global" as *;


.faq {
  // background-color: $light;
  // padding: rem(100) 0;
}

.faq__inner.inner {
  @include mq("mx") {
    max-width: rem(1440);
  }
}


.faq__wrap {
  display: flex;
  flex-direction: column;
  gap: rem(80);
  background-color: $second;
  border-radius: rem(24);
  padding: rem(80) rem(20);
  @include mq("md") {
    padding: rem(100) rem(20);
  }
}




.faq__btn {
  text-align: center;
}