@use "global" as *;

.footer {
  background-color: $base;
  color: $white;
  // padding-top: rem(48);
  // padding-bottom: rem(58);
  padding: rem(80) 0;
  @include mq("md") {
    padding: rem(100) 0;
  }
}

.footer__head {
  @include mq("md") {
    display: flex;
    position: relative;
  }
}

.footer__logo img {
  width: rem(120);
  height: rem(45);
  @include mq("md") {
    width: rem(200);
    height: rem(75);
  }
}

.footer__icons {
  display: flex;
  gap: rem(20);
  margin-top: rem(18);
  @include mq("md") {
    position: absolute;
    left: 22.2%;
    bottom: 10.5%;
  }
  :hover {
    opacity: 0.8;
  }
}

.footer__icon img {
  width: rem(20);
  height: rem(20);
  @include mq("md") {
    width: rem(28);
    height: rem(28);
  }
}

.footer__nav {
  margin-top: rem(30);
  @include mq("md") {
    margin-top: rem(40);
  }
}

// .footer__nav-left.site-nav__left,
// .footer__nav-right.site-nav__right {
//   @include mq("md") {
//     gap: rem(120);
//   }
// }

// .footer__nav-right.site-nav__right {
//   @include mq("md") {
//     margin-left: rem(31);
//   }
// }

.footer__copyright {
  font-family: $mont-font-family;
  font-weight: $regular;
  font-size: rem(12);
  line-height: calc(18 / 12);
  letter-spacing: 0.08em;
  text-align: center;
  margin-top: rem(20);
  @include mq("md") {
    font-size: rem(14);
    line-height: calc(18 / 14);
    margin-top: rem(68);
  }
}
