@use "global" as *;

.footer {
  background-color: $base;
  color: $white;
  padding-top: rem(58);
  padding-bottom: rem(80);
  @include mq("md") {
    padding: rem(100) 0;
  }
}

.footer__head {
  display: flex;
  position: relative;
}

.footer__logo {
  display: inline-block;
  width: rem(102);
  height: rem(80);
  overflow: hidden;
  @include mq("md") {
    width: rem(140);
    height: rem(80);
  }
}

.footer__logo img {
  width: 100%;
  height: inherit;
  object-fit: cover;
}

.footer__icons {
  display: flex;
  gap: rem(14);
  position: absolute;
  left: rem(160);
  bottom: 12%;
  :hover {
    opacity: 0.8;
  }
}

.footer__icon img {
  width: rem(20);
  height: rem(20);
  @include mq("md") {
    width: rem(28);
    height: rem(28);
  }
}

.footer__nav {
  margin-top: rem(20);
  @include mq("md") {
    margin-top: rem(40);
  }
}

.footer__copyright {
  font-family: $mont-font-family;
  font-weight: $regular;
  font-size: rem(12);
  line-height: calc(18 / 12);
  letter-spacing: 0.08em;
  text-align: center;
  margin-top: rem(20);
  @include mq("md") {
    font-size: rem(14);
    line-height: calc(18 / 14);
    margin-top: rem(68);
  }
}
