@use "global" as *;

.form__wrap {
  padding-top: rem(24);
  padding-bottom: rem(24);
  border-bottom: 1px dashed $base;
  @include mq("md") {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(20);
    padding-top: rem(40);
    padding-bottom: rem(40);
  }
}


.form__wrap--cat{
  border-top: 1px dashed $base;
}

.form__wrap dt {
  @include mq("md") {
    width: rem(240);
    justify-content: space-between;
  }
}

.form__wrap dd {
  @include mq("md") {
    display: inline-block;
    flex: 1;
  }
}

.form__label {
  font-weight: $bold;
  display: flex;
  align-items: center;
}

.form__label span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: $regular;
  font-size: rem(12);
  letter-spacing: 0.075em;
  background-color: #c94800;
  color: $white;
  border-radius: rem(24);
  width: rem(61);
  height: rem(21);
  margin-top: rem(2);
  margin-left: rem(8);
}

.form__checkbox {
  margin-top: rem(8);
  @include mq("md") {
    margin-top: rem(-4);
  }
}

.wpcf7-list-item {
  display: block;
  margin-left: 0;
}

.wpcf7-list-item.first [type="checkbox"] + span {
  padding-top: 0;
}

.form__lastCheck {
  text-align: center;
  margin-top: rem(41);
  max-width: rem(345);
  width: 100%;
  margin-inline: auto;
  @include mq("md") {
    max-width: rem(420);
    padding: 0;
    margin-top: rem(80);
  }
}

.form__lastCheck span {
  display: inline-block;
  font-weight: $regular;
  font-size: rem(14);
  line-height: 1.5;
  text-align: left;
  padding-top: 0;
}

.form__lastCheck span::before {
  width: rem(22);
  height: rem(22);
}

.form__lastCheck span.wpcf7-list-item-label {
  padding-left: rem(30);
  @include mq("md") {
    padding-left: rem(38);
  }
}

.form__lastCheck span.wpcf7-form-control-wrap {
  text-align: center;
}

.form__btn {
  margin-top: rem(24);
  text-align: center;
  @include mq("md") {
    margin-top: rem(40);
  }
}

.wpcf7-form-control.wpcf7-submit.has-spinner {
  color: $base;
  line-height: inherit;
  border-radius: 0;
  padding: rem(12) rem(32);
  width: -webkit-fill-available;
}

button,
[type="button"],
[type="submit"] {
  padding: 0;
}

.form__btn-inner.button span {
  padding: 0;
}

.wpcf7-response-output {
  display: none;
}

.wpcf7-spinner {
  display: none;
}
