@use "global" as *;

.gallery__list {
  position: relative;
  max-width: rem(550);
  width: 100%;
  margin-inline: auto;
  margin-top: rem(40);
  @include mq("md") {
    max-width: rem(1080);
    margin-top: rem(80);
  }
}

.gallery__list::before {
  display: none;
  @include mq("md") {
    display: block;
    content: "";
    background-image: url(../images/common/blueFish-decoration.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    position: absolute;
    top: -15%;
    right: calc(53% - min(48vw, rem(670)));
    width: 100%;
    height: 100%;
    max-width: rem(301);
  }
}

#gallery__modal-image {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: $modal-z-index;
  padding: 35% rem(30);
  overflow: scroll;
  @include mq("md") {
  }
}

#gallery__modal-image img {
  max-width: rem(600);
  width: 100%;
  margin-inline: auto;
  @include mq("md") {
    max-width: rem(920);
  }
}
