@use "global" as *;

.mv-swiper {
  width: 100%;
  height: inherit;
  z-index: $swiper-z-index;
}

.mv-swiper__wrapper {
  height: inherit;
}

.mv-swiper__slide {
  height: inherit;
}

.mv-swiper__slide picture,
.mv-swiper__slide img {
  width: 100%;
  height: inherit;
  object-fit: cover;
  border-radius: 0;
}
