@use "global" as *;

.notFound {
  position: relative;
  height: rem(425);
  background-color: $green;
  padding-top: rem(80);
  @include mq("md") {
    height: rem(698);
    padding-top: rem(90);
  }
}

.notFound::before {
  content: "";
  background-image: url(../images/common/whale.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 90%;
  position: absolute;
  top: 26%;
  left: 0;
  width: 100%;
  height: rem(330);
  max-width: rem(500);
  @include mq("md") {
    top: 20%;
    left: 15%;
    max-width: rem(698);
    height: rem(698);
  }
}

.notFound__content {
  color: $white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: rem(80);
}

.notFound__content h2,
.notFound__content p {
  font-family: $lato-font-family;
  font-weight: $regular;
}

.notFound__content h2 {
  font-size: rem(80);
  line-height: 1;
  letter-spacing: 0.5em;
  text-indent: 0.5em;
  @include mq("md") {
    font-size: rem(160);
  }
}

.notFound__content p {
  font-size: rem(16);
  line-height: calc(24 / 16);
  @include mq("md") {
    margin-top: rem(24);
  }
}

.notFound__content a {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(80);
  }
}
