@use "global" as *;

.notFound {
  position: relative;
  height: 80vh;
  background-color: $base;
  padding-top: rem(80);
  @include mq("md") {
    padding-top: rem(90);
  }
}

.notFound__content {
  color: $white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: rem(80);
  @include mq("md") {
    margin-top: rem(60);
  }
}

.notFound__content h1,
.notFound__content p {
  font-family: $mont-font-family;
  font-weight: $regular;
}

.notFound__content h1 {
  font-size: rem(80);
  line-height: 1;
  letter-spacing: 0.5em;
  text-indent: 0.5em;
  @include mq("md") {
    font-size: rem(160);
  }
}

.notFound__content p {
  font-size: rem(16);
  line-height: calc(24 / 16);
  margin-top: rem(4);
  @include mq("md") {
    margin-top: rem(40);
  }
}

.notFound__content a {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(80);
  }
}
