@use "global" as *;

.page-price__lists {
  max-width: rem(700);
  width: 100%;
  margin-inline: auto;
}

.page-price__list:not(:first-child) {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(80);
  }
}

.page-price__list:first-child {
  position: relative;
}

.page-price__list:first-child:before {
  content: "";
  background-image: url(../images/common/blueFish-decoration-left.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  position: absolute;
  top: -10%;
  left: calc(52% - min(48vw, rem(630)));
  max-width: rem(120);
  width: 100%;
  height: 100%;
  z-index: -1;
  @include mq("md") {
    top: -40%;
    max-width: rem(301);
  }
}
