@use "global" as *;

.page-information__inner.inner {
  max-width: rem(650);
  width: 100%;
  margin-inline: auto;
  @include mq("md") {
    max-width: rem(1160);
  }
}

.page-information__message {
  text-align: center;
}

.page-information__message-head {
  font-weight: $bold;
  font-size: rem(28);
  letter-spacing: 0.05em;
  line-height: 1.5;
  margin-top: rem(32);
  @include mq("md") {
    font-size: rem(32);
    margin-top: rem(60);
  }
}

.page-information__message-head-line {
  background: linear-gradient(
    180deg,
    transparent 0%,
    transparent 77%,
    #d4c4ae 77%,
    #d4c4ae 95%,
    transparent 95%,
    transparent 100%
  );
}

.page-information__message-text {
  font-size: rem(14);
  letter-spacing: 0.07em;
  line-height: 1.75;
  margin-top: rem(20);
  @include mq("md") {
    font-size: rem(16);
    margin-top: rem(32);
  }
}

.page-information__ceo {
  width: 100vw;
  padding: rem(100) 0;
  margin-top: rem(64);
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  background-color: $light;
  @include mq("md") {
    margin-top: rem(120);
  }
}

.page-information__ceo-wrap {
  display: flex;
  flex-direction: column;
  gap: rem(32);
  max-width: rem(580);
  margin-inline: auto;
  padding: 0 rem(15);
  @include mq("md") {
    flex-direction: row;
    align-items: center;
    gap: rem(40);
    max-width: rem(1160);
    padding: 0 rem(25);
  }
}

.page-information__ceo-image {
  aspect-ratio: 3 / 2;
  overflow: hidden;
  @include mq("md") {
    width: 42%;
  }
}

.page-information__ceo-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-information__ceo-text {
  display: flex;
  flex-direction: column;
  gap: rem(16);
  font-size: rem(14);
  text-align: left;
  @include mq("md") {
    gap: rem(20);
    font-size: rem(16);
    width: 58%;
  }
}

.page-information__ceo-text p:last-child {
  text-align: right;
  padding: 0 rem(20);
  margin-top: rem(16);
  @include mq("md") {
    text-align: left;
    margin-top: rem(20);
  }
}

.page-information__company {
  margin-top: rem(120);
  @include mq("md") {
    margin-top: rem(240);
  }
}
