@use "global" as *;

.page-siteMap__nav {
  position: relative;
  margin-top: rem(42);
  @include mq("md") {
    margin-top: rem(25);
  }
}

.page-siteMap__nav::before {
  content: "";
  background-image: url(../images/common/blueFish-decoration-left.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  position: absolute;
  top: -5%;
  left: calc(52% - min(48vw, rem(630)));
  max-width: rem(120);
  width: 100%;
  height: 100%;
  @include mq("md") {
    top: -30%;
    max-width: rem(301);
  }
}

.page-siteMap__left.site-nav__left {
  @include mq("md") {
    margin-left: rem(50);
  }
}