@use "global" as *;

.page-termsOfService__content {
  position: relative;
  max-width: rem(800);
  margin-inline: auto;
}

.page-termsOfService__content::before {
  content: "";
  background-image: url(../images/common/blueFish-decoration-left.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  position: absolute;
  top: rem(-25);
  left: calc(52% - min(48vw, rem(630)));
  max-width: rem(120);
  width: 100%;
  height: 100%;
  @include mq("md") {
    top: rem(-77);
    left: calc(51% - min(48vw, rem(630)));
    max-width: rem(301);
  }
}

.page-termsOfService__title h2 {
  font-weight: $medium;
  font-size: rem(24);
  line-height: 1.45;
  @include mq("md") {
    font-size: rem(32);
    line-height: 1;
  }
}

.page-termsOfService__text {
  font-weight: $regular;
  font-size: rem(16);
  line-height: calc(32 / 16);
  margin-top: rem(39);
  @include mq("md") {
    margin-top: rem(48);
  }
}

.page-termsOfService__text ol {
  letter-spacing: 0.009em;
  list-style: decimal;
  list-style-position: inside;
  text-indent: -1em;
  padding-left: 1em;
  margin-left: rem(6);
}
