@use "global" as *;

.page-campaign__items {
  display: grid;
  gap: rem(41);
  margin-top: rem(40);
  @include mq("md") {
    grid-template-columns: 1fr 1fr;
    row-gap: rem(80);
    padding: 0;
  }
}

.page-campaign__cardText {
  @include mq("md") {
    font-weight: $regular;
    font-size: rem(16);
    line-height: calc(24 / 16);
    text-align: left;
    margin-top: rem(24);
  }
}

.page-campaign__cardDate {
  @include mq("md") {
    font-family: $lato-font-family;
    font-weight: $bold;
    font-size: rem(16);
    line-height: calc(18 / 16);
    color: $green;
    margin-top: rem(32);
  }
}

.page-campaign__cardInfo {
  @include mq("md") {
    font-weight: $regular;
    font-size: rem(14);
    line-height: calc(18 / 14);
    color: $green;
    margin-top: rem(7);
  }
}

.page-campaign__cardBtn {
  @include mq("md") {
    text-align: center;
    margin-top: rem(16);
  }
}

.page-campaign__pagenavi {
  margin-top: rem(79);
  @include mq("md") {
    margin-top: rem(82);
  }
}
