@use "global" as *;

.pagination {
  width: rem(162);
  font-weight: $regular;
  font-size: rem(14);
  line-height: calc(22 / 14);
  color: $white;
  background-color: $green;
  text-align: center;
  padding: rem(6);
}

.pagenavi {
  font-weight: $bold;
  font-size: rem(30);
  margin-top: rem(80);
  color: red;
}
