@use "global" as *;

.page-thanks__text {
  text-align: center;
}

.page-thanks__text p {
  font-weight: $regular;
  font-size: rem(16);
  line-height: calc(18 / 16);
}

.page-thanks__text p:not(:first-child) {
  margin-top: rem(39);
}

.page-thanks__btn {
  text-align: center;
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(80);
  }
}
