@use "global" as *;

// .page-faq-list {
//   max-width: rem(600);
//   width: 100%;
//   margin-inline: auto;
//   @include mq("md") {
//     max-width: rem(700);
//   }
// }

.page-faq-list__item {
  font-weight: $regular;
  line-height: 1.5;
}

.page-faq-list__item:not(:first-child) {
  margin-top: rem(40);
}



.page-faq-list__item-question {
  position: relative;
  font-size: rem(16);
  color: $white;
  background-color: $green;
  padding: rem(15);
  cursor: pointer;
  @include mq("md") {
    font-size: rem(20);
    padding: rem(26) rem(40);
  }
}

.page-faq-list__item-question::before,
.page-faq-list__item-question::after {
  content: "";
  position: absolute;
  top: 50%;
  right: rem(16);
  width: rem(28);
  height: 1px;
  background-color: $white;
  transition: 0.3s transform, 0.3s opacity;
  @include mq("md") {
    right: rem(40);
    width: rem(32);
  }
}

.page-faq-list__item-question::before {
  transform: rotate(90deg);
}

.page-faq-list__item-question.is-open::before {
  transform: rotate(180deg);
}

.page-faq-list__item-question.is-open::after {
  opacity: 0;
}






.page-faq-list__item-answer {
  font-size: rem(16);
  line-height: 1.4;
  padding-top: rem(24);
  padding-right: rem(16);
  padding-bottom: rem(26);
  padding-left: rem(16);
  border: 1px solid $green;
  @include mq("md") {
    margin-top: rem(16);
    padding: rem(40);
  }
}
