@use "global" as *;

.page-privacypolicy__inner.inner {
  max-width: rem(850);
}

.page-privacypolicy__title h2 {
  font-weight: $medium;
  font-size: rem(24);
  @include mq("md") {
    font-size: rem(32);
    line-height: 1;
  }
}

.page-privacypolicy__text {
  display: grid;
  font-weight: $regular;
  font-size: rem(16);
  line-height: calc(32 / 16);
  margin-top: rem(38);
  @include mq("md") {
    margin-top: rem(48);
  }
}

.page-privacypolicy__text p:not(:first-child),
.page-privacypolicy__text ul,
.page-privacypolicy__text ol:nth-child(2) {
  margin-top: rem(32);
}

.page-privacypolicy__text ol {
  letter-spacing: 0.009em;
  list-style: decimal;
  list-style-position: inside;
  text-indent: -1em;
  padding-left: 1em;
  margin-left: rem(6);
}
