@use "global" as *;

.pc-nav {
  height: inherit;
}

.pc-nav__items {
  display: flex;
  gap: rem(40);
  height: inherit;
}

.pc-nav__item {
  display: flex;
  height: inherit;
  text-align: center;
  color: $white;
  white-space: nowrap;
}

.pc-nav__item a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  position: relative;
}

.pc-nav__item a::after {
  content: "";
  position: absolute;
  bottom: rem(20);
  right: 0;
  width: 100%;
  height: rem(1);
  background-color: $white;
  transition: all 0.3s;
  transform: scale(0, 1);
  transform-origin: center top;
}

.pc-nav__item a:hover::after {
  transform: scale(1, 1);
}

.pc-nav__text {
  display: block;
}

.pc-nav__engtitle {
  font-family: $mont-font-family;
  font-weight: $regular;
  font-size: rem(18);
  line-height: calc(22 / 18);
}

.pc-nav__jatitle {
  font-family: $mont-font-family;
  font-weight: $regular;
  font-size: rem(10);
  line-height: 2;
}
