@use "global" as *;


// .price-menu:not(:first-child) {
//   margin-top: rem(40);
// }

.price-menu__head {
  padding-bottom: rem(4);
  border-bottom: 1px solid $second;
}


.price-menu__head h3 {
  font-weight: $bold;
  font-size: rem(18);
  // line-height: calc(24 / 16);
}

.price-menu__head--page h3 {
  font-size: rem(20);
  @include mq("md") {
    font-size: rem(24);
}
}

.price-menu__head h3 span {
  font-weight: $regular;
  font-size: rem(14);
}

// .price-menu__head--page h3 span {
//   font-size: rem(16);
// }

.price-menu__items {
  margin-top: rem(8);
}

.price-menu__item {
  display: flex;
  font-weight: $regular;
  // font-size: rem(14);
  // line-height: calc(24 / 14);
  @include mq("md") {
    // font-size: rem(16);
    // line-height: calc(24 / 16);
  }
}

.price-menu__item:not(:first-child) {
  margin-top: rem(8);
}

.price-menu__item dt {
  margin-right: auto;
}

.price-menu__item dd {
  margin-left: rem(15);
}
