@use "global" as *;

.price__inner.inner {
  max-width: rem(650);
  @include mq("md") {
    max-width: rem(1160);
  }
}

.price__wrap {
  display: flex;
  flex-direction: column;
  gap: rem(80);
}

.price__contents {
  @include mq("md") {
    display: flex;
    flex-direction: row-reverse;
    gap: rem(64);
  }
}

.price__image {
  position: relative;
  aspect-ratio: 3 / 2;
  max-width: rem(520);
  width: 100%;
  margin-inline: auto;
  overflow: hidden;
  @include mq("md") {
    aspect-ratio: 2 / 3;
    margin-inline: initial;
  }
}

.price__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.price__list {
  margin-top: rem(40);
  max-width: rem(480);
  width: 100%;
  margin-inline: auto;
  @include mq("md") {
    max-width: rem(600);
    margin-top: 0;
    margin-inline: initial;
  }
}

.price__list-item:not(:first-child) {
  margin-top: rem(40);
}

.price__btn {
  text-align: center;
}
