@use "global" as *;

.price-list {
  font-size: rem(16);
  line-height: calc(24 / 16);
  border: 1px solid $second;
  border-radius: rem(24);
  border-collapse: collapse;
  width: 100%;
  overflow: hidden;
  display: flex;
  @include mq("md") {
  }
}

.price-list__head {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: $bold;
  background-color: $base;
  color: $white;
  width: 28%;
  // padding: rem(6) 0;
  // width: 100%;
  @include mq("md") {
  }
}

// .price-list__head th {
//   position: relative;
//   // padding-left: rem(32);
//   padding-bottom: rem(72);
//   // @include mq("md") {
//   //   padding-left: 0;
//   // }
// }

// .price-list__head th::before {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   background-color: $white;
//   mask-image: url(../images/common/whale-logo.svg);
//   mask-repeat: no-repeat;
//   mask-position: center;
//   mask-size: contain;
//   width: rem(24);
//   height: rem(24);
//   @include mq("md") {
//     top: 66%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     width: rem(64);
//     height: rem(64);
//   }
// }

.price-list__body {
  display: flex;
  flex-direction: column;
  font-weight: $regular;
  background-color: $white;
  width: 72%;
  // width: 100%;
  @include mq("md") {
  }
}

.price-list__item {
  display: flex;
  width: 100%;
  height: 100%;
}

.price-list__item td {
  min-height: rem(60);
}

.price-list__item:not(:last-child) {
  border-bottom: 1px solid $second;
}

.price-list__name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: rem(8);
  width: 70%;
  border-right: 1px solid $second;
  height: 100%;
  // @include mq("md") {
  // }
}

.price-list__price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  padding: 0 rem(16);
  width: 30%;
  word-wrap: break-word;
}
