@use "global" as *;

.price-menu__head {
  border-bottom: 1px solid $second;
  padding-bottom: rem(4);
}

.price-menu__head h3 {
  font-weight: $bold;
  font-size: rem(18);
}

.price-menu__head--page h3 {
  font-size: rem(20);
  @include mq("md") {
    font-size: rem(24);
  }
}

.price-menu__head h3 span {
  font-weight: $regular;
  font-size: rem(14);
}

.price-menu__items {
  margin-top: rem(8);
}

.price-menu__item {
  display: flex;
  font-weight: $regular;
}

.price-menu__item:not(:first-child) {
  margin-top: rem(8);
}

.price-menu__item dt {
  margin-right: auto;
}

.price-menu__item dd {
  flex-shrink: 0;
  margin-left: rem(15);
}
