@use "global" as *;

.section-header {
  text-align: center;
}

.section-header::first-letter {
  color: $base;
}

.section-header__title {
  display: inline;
  font-family: $mont-font-family;
  font-weight: $bold;
  font-size: rem(32);
  line-height: calc(40 / 32);
  color: $second;
  @include mq("md") {
    font-size: rem(40);
    line-height: 1;
  }
}

.section-header__title--white {
  color: $white;
}

.section-header__subtitle {
  font-family: $mont-font-family;
  font-weight: $medium;
  font-size: rem(12);
  line-height: calc(18 / 12);
  color: $base;
  margin-top: rem(4);
  @include mq("md") {
    margin-top: rem(8);
  }
}
