@use "global" as *;

.service__inner.inner {
  max-width: rem(650);
  @include mq("md") {
    max-width: rem(1160);
  }
}

.service__wrap {
  display: flex;
  flex-direction: column;
  gap: rem(80);
}

.service__contents {
  display: flex;
  flex-direction: column;
  gap: rem(60);
  @include mq("md") {
    gap: rem(40);
  }
}

.service__content {
  @include mq("md") {
    display: flex;
    gap: rem(64);
    align-items: center;
    width: 100%;
  }
}

.service__content:nth-child(2),
.service__content:nth-child(4) {
  flex-direction: row-reverse;
}

.service__image {
  position: relative;
  aspect-ratio: 3 / 2;
  object-fit: cover;
  border: 2px solid $second;
  border-radius: rem(24);
  padding: rem(16);
  @include mq("md") {
    width: 55%;
  }
}

.service__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service__textBody {
  margin-top: rem(22);
  @include mq("md") {
    width: 45%;
    margin-top: 0;
  }
}

.service__head {
  border-bottom: 1px solid $second;
  @include mq("md") {
    padding-bottom: rem(8);
  }
}

.service__head h3 {
  font-weight: $bold;
  font-size: rem(20);
  @include mq("md") {
    font-size: rem(24);
  }
}

.service__text {
  margin-top: rem(8);
}

.service__text p {
  font-weight: $regular;
  font-size: rem(16);
  line-height: calc(24 / 16);
}

.service__btn {
  text-align: center;
}
