@use "global" as *;

.sidebar {
  display: flex;
  justify-content: center;
  max-width: rem(350);
  width: 100%;
  margin-top: rem(80);
  margin-inline: auto;
  padding: 0 rem(25);
  @include mq("md") {
    flex: 1;
    margin-top: 0;
    padding: 0;
  }
}

.sidebar__item:not(:first-child) {
  margin-top: rem(80);
}

.sidebar__title {
  display: flex;
  align-items: center;
  height: rem(50);
  border-left: 8px solid $second;
  padding-left: rem(72);
}

.sidebar__title h3 {
  position: relative;
  font-weight: $regular;
  font-size: rem(24);
  line-height: 1.5;
}

.sidebar__title h3::before {
  content: "";
  position: absolute;
  top: 0;
  left: rem(-54);
  background-color: $base;
  mask-image: url(../images/common/dog-logo.png);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  width: rem(40);
  height: rem(40);
}

.sidebar__article {
  margin-top: rem(24);
}

.sidebar__category {
  margin-top: rem(24);
}
