@use "global" as *;

.site-nav {
  display: flex;
  justify-content: space-between;
}

.site-nav__wrap {
  @include mq("md") {
    display: flex;
    flex-direction: column;
    gap: rem(20);
  }
}

.site-nav__items {
  @include mq("md") {
    display: flex;
    flex-direction: column;
    gap: rem(20);
  }
}

.site-nav__item a {
  display: block;
  font-size: rem(14);
  font-weight: $regular;
  line-height: calc(18 / 16);
  padding-top: rem(12);
  padding-right: rem(12);
  padding-bottom: rem(12);
  padding-left: rem(26);
  white-space: nowrap;
  @include mq("md") {
    font-size: rem(18);
    padding-left: rem(34);
  }
}

.site-nav__item:first-child a {
  position: relative;
  font-weight: $bold;
}

.site-nav__item:first-child a::before {
  content: "";
  mask-image: url(../images/common/dog-logo.png);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  background-color: $white;
  position: absolute;
  top: 30%;
  left: 0;
  width: rem(20);
  height: rem(20);
  @include mq("md") {
    width: rem(26);
    height: rem(26);
  }
}

.site-nav__item--white:first-child a::before {
  background-color: $base;
}
