@use "global" as *;

.site-nav {
  display: flex;
  justify-content: space-around;
}

.site-nav__wrap {
  @include mq("md") {
    display: flex;
    flex-direction: column;
    gap: rem(20);
  }
}

.site-nav__items {
  @include mq("md") {
    display: flex;
    flex-direction: column;
    gap: rem(20);
  }
}


// .site-nav__right {
//   @include mq("md") {
//     margin-left: rem(128);
//   }
// }

// .site-nav__wrap:nth-child(2) {
//   margin-top: rem(16);
//   @include mq("md") {
//     margin-top: 0;
//   }
// }

.site-nav__item a {
  display: block;
  font-size: rem(16);
  font-weight: $regular;
  line-height: calc(18 / 16);
  padding-top: rem(12);
  padding-bottom: rem(12);
  padding-left: rem(22);
  @include mq("md") {
    white-space: nowrap;
  }
}

.site-nav__item:first-child a {
  position: relative;
  font-weight: $bold;
}

// .site-nav__left-item:first-child a::before,
// .site-nav__right-item:first-child a::before {
//   content: "";
//   mask-image: url(../images/common/section-logo.svg);
//   mask-repeat: no-repeat;
//   mask-position: center;
//   mask-size: contain;
//   background-color: $white;
//   position: absolute;
//   top: 30%;
//   left: 0;
//   width: rem(18);
//   height: rem(18);
// }

// .site-nav__item-logo--black.site-nav__left-item:first-child a::before,
// .site-nav__item-logo--black.site-nav__right-item:first-child a::before {
//   background-color: $black;
// }

// .site-nav__left-items:not(:first-child),
// .site-nav__right-items:not(:first-child) {
//   margin-top: rem(18);
// }
