@use "global" as *;


.sliders {
  margin-top: rem(24);
  margin-bottom: rem(5);
  @include mq("md") {
    margin-top: rem(40);
    margin-inline: auto;
  }
}


.sliders__item {
  box-shadow: 2px 2px 10px rgba($color: $black, $alpha: 0.3);
}