@use "global" as *;

.sp-nav {
  color: $white;
}

.sp-nav__inner {
  padding: 0 rem(16);
}

.sp-nav__wrapper {
  padding-top: rem(52);
  padding-bottom: rem(120);
  @include mq("md") {
    padding-top: rem(80);
  }
}