@use "global" as *;

.two-col__wrap {
  max-width: rem(580);
  width: 100%;
  margin-inline: auto;
  @include mq("md") {
    max-width: rem(1130);
    display: flex;
    gap: rem(83);
  }
}

.two-col__left {
  @include mq("md") {
    width: 70%;
    height: 100%;
  }
}

.two-col__cards {
  display: grid;
  gap: rem(64);
  max-width: rem(650);
  width: 100%;
  margin-inline: auto;
  @include mq("md") {
    grid-template-columns: 1fr 1fr;
    row-gap: rem(87);
  }
}

.two-col__pagenavi {
  margin-top: rem(78);
}
