@use "global" as *;


.wide-cards {
  display: grid;
  gap: rem(39.5);
  @include mq("md") {
    grid-template-columns: repeat(2, 1fr);
    gap: rem(40);
  }
}


.wide-cards__item {
  box-shadow: 2px 2px 10px rgba($color: $black, $alpha: 0.3);
  :hover {
    opacity: 0.8;
  }
}
