@use "global" as *;



.wide-card {
  display: inline-block;
  background-color: $white;
  max-width: rem(580);
  width: 100%;
  margin-inline: auto;
}

.wide-card__inner {
  padding-top: rem(15);
  padding-right: rem(16);
  padding-bottom: rem(24);
  padding-left: rem(16);
  @include mq("md") {
    padding-top: rem(17);
    padding-right: rem(24);
    padding-left: rem(24);
  }
}

.wide-card__body {
  display: flex;
  gap: rem(11);
  width: 100%;
  @include mq("md") {
    gap: rem(17);
  }
}

.wide-card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-bottom: 1px solid $green;
  width: 50%;
  margin-top: rem(-5);
  @include mq("md") {
    width: 61%;
    margin-top: rem(28);
  }
}

.wide-card__meta {
  @include mq("md") {
    display: flex;
    align-items: end;
    margin-top: 0;
  }
}

.wide-card__age {
  font-weight: $regular;
  font-size: rem(12);
  line-height: calc(18 / 12);
  @include mq("md") {
    margin-right: auto;
  }
}

.wide-card__category {
  display: inline-block;
  border: 1px solid $green;
  padding: rem(3) rem(11);
  @include mq("md") {
    padding: rem(5) rem(15);
  }
}

.wide-card__category p {
  font-weight: $regular;
  font-size: rem(12);
  line-height: calc(22 / 12);
  color: $green;
}

.wide-card__head {
  margin-top: rem(-1);
  @include mq("md") {
    margin-top: rem(4);
  }
}

.wide-card__head p {
  font-weight: $medium;
  font-size: rem(16);
  line-height: calc(23 / 16);
  @include mq("md") {
    font-size: rem(24);
    line-height: calc(35 / 24);
  }
}

.wide-card__image {
  position: relative;
  aspect-ratio: 152 / 119;
  overflow: hidden;
  width: 50%;
  margin-top: rem(9);
  @include mq("md") {
    width: 39%;
  }
}

.wide-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wide-card__text {
  margin-top: rem(14);
  @include mq("md") {
    margin-top: rem(40);
  }
}

.wide-card__text p {
  font-weight: $regular;
  font-size: rem(16);
  line-height: calc(24 / 16);
}
